$color_fountain_blue_approx: #4dadbb;
$color_whisper_approx: #f7f6f9;
$color_black_haze_approx: #f7f7f7;
$white: white;
$color_silver_chalice_approx: #acacae;
$color_iron_approx: #d3d3d5;

.testimonials-wrapper {
    width: 100%;
    background-color: $color_fountain_blue_approx;
    .testimonials-title {
        font-size: 28px;
        line-height: 80px;
        color: $color_whisper_approx;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .testimonials-mini-title {
        font-size: 18px;
        letter-spacing: 0;
        line-height: 80px;
        color: $color_black_haze_approx;
    }
    .human {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $white;
        border-radius: 30px;
    }
    .testimonials-image-wrapper {
        margin-top: -50px;
        border: solid 4px $white;
        border-radius: 100px;
    }
    .testimonials-image {
        height: 120px;
    }
    .commetn {
        margin-top: 30px;
        width: 85%;
        text-align: center;
        font-size: 19px;
        color: $color_silver_chalice_approx;
    }
    .testimonials-name-wrapper {
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-top: 30px;
    }
    .testimonials-name {
        color: $color_fountain_blue_approx;
        font-size: 20px;
        font-weight: 600;
    }
    .testimonials-work {
        font-size: 14px;
        font-style: italic;
        font-weight: 300;
        color: #959495;
    }
    .container {
        width: 100%;
        margin-top: 50px;
        padding-bottom: 100px;
        height: 100%;

        .slider-left{
            >div{
                left: -520%;
                border: none;

                .fa-arrow-left:before{
                    content: "\2190";
                    font-size: 27px;
                }
            }
        }

        .slider-right{
            >div{
                left: 500%;
                border: none;

                .fa-arrow-right:before{
                    content: "\2192";
                    font-size: 27px;
                }
            }
        }

        .proactive{
            padding-top: 6%;
            .slider-single-content{
                opacity: .5!important;
                width: 55%!important;
                margin-left: 52.5%!important;
                .human{
                    .commetn {
                        overflow: hidden;
                        height: 150px;
                    }
                }
            }
        }

        .preactive{
            padding-top: 6%;
            .slider-single-content{
                opacity: .7;
                width: 55%!important;
                margin-left: -9%!important;
                .human{
                    .commetn {
                        height: 150px;
                        overflow: hidden;
                    }
                }
            }
        }

        .active{
            .slider-single-content{
                width: 90%!important;
                box-shadow: none!important;
                margin-left: 4.5%!important;
                .human{
                    min-height: 400px;
                }
            }
        }

        @media (min-device-width: 1440px) and (max-device-width: 2560px) {
            .slider-left {
                > div {
                    left: -790%;
                }
            }

            .slider-right {
                > div {
                    left: 750%;
                }
            }

        }

            @media (min-device-width: 950px) and (max-device-width: 1440px) {
                .slider-left {
                    > div {
                        left: -500%;
                    }
                }

                .slider-right {
                    > div {
                        left:   460%;
                    }
                }
            }

            @media (min-device-width: 768px) and (max-device-width: 950px){
            .slider-left{
                >div{
                    left: -328%;
                }
            }

            .slider-right{
                >div{
                    left:   280%;
                }
            }

            .proactive{
                .slider-single-content{
                    .human{
                        .commetn {
                            font-size: 17px;
                        }
                    }
                }
            }

            .preactive{
                .slider-single-content{
                    .human{
                        .commetn {
                            font-size: 17px;
                        }
                    }
                }
            }


            .active{
                .slider-single-content{
                    .human{
                        .commetn{
                            font-size: 17px;
                        }
                    }
                }
            }
        }

        @media (min-device-width: 660px) and (max-device-width: 768px){
            .slider-left{
                >div{
                    left: -270%;
                }
            }

            .slider-right{
                >div{
                    left: 230%;
                }
            }

            .proactive{
                .slider-single-content{
                    .human{
                        .commetn {
                            font-size: 15px;
                        }
                    }
                }
            }

            .preactive{
                .slider-single-content{
                    .human{
                        .commetn {
                            font-size: 15px;
                        }
                    }
                }
            }

            .active{
                .slider-single-content{
                    .human{
                        .commetn{
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        @media (min-device-width: 500px) and (max-device-width: 660px){
            .slider-left{
                >div{
                    left: -230%;
                }
            }

            .slider-right{
                >div{
                    left: 180%;
                }
            }

            .proactive{
                .slider-single-content{
                    .human{
                        .commetn {
                            font-size: 13px;
                        }
                    }
                }
            }

            .preactive{
                .slider-single-content{
                    .human{
                        .commetn {
                            font-size: 13px;
                        }
                    }
                }
            }

            .active{
                .slider-single-content{
                    .human{
                        .commetn{
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        @media (min-device-width: 400px) and (max-device-width: 500px){
            .slider-left{
                >div{
                    left: -170%;
                }
            }

            .slider-right{
                >div{
                    left: 130%;
                }
            }

            .proactive{
                .slider-single-content{
                    .human{
                        .commetn {
                            font-size: 13px;
                        }
                    }
                }
            }

            .preactive{
                .slider-single-content{
                    .human{
                        .commetn {
                            font-size: 13px;
                        }
                    }
                }
            }

            .active{
                .slider-single-content{
                    .human{
                        .commetn{
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        @media (min-device-width: 320px) and (max-device-width: 400px){
            .slider-left{
                >div{
                    left: -120%;

                    .fa-arrow-left:before{
                        content: "\2190";
                        font-size: 22px;
                    }
                }
            }

            .slider-right{
                >div{
                    left: 90%;

                    .fa-arrow-right:before{
                        content: "\2192";
                        font-size: 22px;
                    }
                }
            }

            .proactive{
                .slider-single-content{
                    .human{
                        .commetn {
                            font-size: 12px;
                        }

                        .testimonials-name{
                            font-size: 13px;
                        }

                        .testimonials-work{
                            font-size: 12px;
                        }

                        .testimonials-image{
                            height: 70px;
                            width: 70px;
                        }


                        .testimonials-image-wrapper {
                            margin-top: -30px;
                        }
                    }
                }


            }

            .preactive{
                .slider-single-content{
                    .human{
                        .commetn {
                            font-size: 12px;
                        }

                        .testimonials-name{
                            font-size: 13px;
                        }

                        .testimonials-work{
                            font-size: 12px;
                        }

                        .testimonials-image{
                            height: 70px;
                            width: 70px;
                        }


                        .testimonials-image-wrapper {
                            margin-top: -30px;
                        }
                    }
                }
            }

            .active{
                .slider-single-content{
                    .human{
                        .commetn{
                            font-size: 12px;
                        }

                        .testimonials-name{
                            font-size: 13px;
                        }

                        .testimonials-work{
                            font-size: 12px;
                        }

                    }
                }
            }
        }
    }
}


