.search-block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    .search-block-top {
        margin: auto;
    }

    .search-block-footer {
        margin: auto;
    }

    .search-title-wrapper {
        text-align: center;
    }

    .search-title {
        font-size: 40px;
        font-weight: 600;
        color: #484848;
    }

    .mini-title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #484848;
        .material-icons {
            padding-left: 3px;
            padding-right: 3px;
            font-size: 3px;
        }
    }

    .search-form-wrapper {
        width: 100%;
        display: flex;
        padding-top: 20px;

    }

    .dropdown {
        height: 50px !important;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right: solid 0.7px #cdcdcd;
        border: none;
        color:#838383;
    }

    .input {
        border-radius: 0 !important;
        height: 50px !important;
        width: 100% !important;
        border: none !important;
    }

    .submit-btn {
        width: 40%;
        background-color: #4dadbb;
        border-top-left-radius: 0 !important;
        color: white;
        border-bottom-left-radius: 0 !important;
        font-weight: 600;
    }

    .btns-wrapper {
        flex-wrap: nowrap !important;
        margin: 0;
        display: flex;
    }

    .buttons {
        width: 90% !important;
        background-color: white !important;
        opacity: 0.8;
        color: #6da964;
        font-weight: bold;
    }

    .icons {

        padding-right: 5px;
    }

    .highlighted-text {
        display: inline;
        color: #0e7200;
    }

    .search-form {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    @media only screen and (max-device-width: 480px) {
        .input {
            border-radius: 0 !important;
            height: 30px !important;
            width: 100% !important;
            border: none !important;
        }

        .search-title {
            font-size: 23px;
        }

        .dropdown {
            height: 30px !important;
            font-size: 10px;
        }

        .mini-title {
            font-size: 10px;
            padding-top: 5px;
        }

        .search-form-wrapper {
            width: 90%;
        }

        .btns-wrapper {
            width: 100%;

        }

        .submit-btn {
            width: 35%;
            display: flex;
            justify-content: center;
            font-size: 9px;

        }

    }

    @media only screen and (min-device-width: 1024px) {
        .search-form-wrapper {
            width: 100%;
        }

        .submit-btn {
            width: 35%;
            display: flex;
            justify-content: center;
            font-size: 14px;

        }

    }

    @media (min-device-width: 481px) and (max-device-width: 628px) {
        .input {
            border-radius: 0 !important;
            height: 50px !important;
            width: 100% !important;
            border: none !important;
        }
        .search-form-wrapper {
            width: 90%;
        }

        .search-title {
            font-size: 26px;
        }

        .btns-wrapper {
            width: 100%;
        }

        .submit-btn {
            width: 35%;
            display: flex;
            justify-content: center;
            font-size: 12px;

        }

    }

    @media (min-device-width: 628px) and (max-device-width: 750px) {

        .search-form-wrapper {
            width: 90%;
        }

        .search-title {
            font-size: 29px;
        }

        .btns-wrapper {
            width: 100%;
        }

        .submit-btn {
            width: 35%;
            display: flex;
            justify-content: center;
            font-size: 12px;

        }

    }
}
